@model List<RealEstate.Models.OrderListDetail>

@{
	ViewData["Title"] = "List ORder";
}

@section AddToAdminDashboardHead{
	<!-- Datatables CSS -->
	<link rel="stylesheet" href="~/admin/assets/plugins/datatables/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/admin/assets/plugins/datatables/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/admin/assets/plugins/datatables/select.bootstrap4.min.css">
	<link rel="stylesheet" href="~/admin/assets/plugins/datatables/buttons.bootstrap4.min.css">
}

<h1>@ViewData["Title"]</h1>

<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row">
				<div class="col">
					<h3 class="page-title">Order</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="dashboard.php">Dashboard</a></li>
						<li class="breadcrumb-item active">Order</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Page Header -->




		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">

						<h4 class="header-title mt-0 mb-4">Property List</h4>

						<table id="datatable-buttons" class="table table-striped nowrap">
							<thead>
								<tr>
									<th>Property</th>
									<th>User</th>
									<th>Status</th>
									<th>Date</th>
									<th>Actions</th>

								</tr>
							</thead>


							<tbody>

								@foreach (var order in Model)
								{
									<tr>
										<td>
											<a asp-action="ViewProperty" asp-controller="Admin" asp-route-id="@order.PropertyId">@order.Title</a>
										</td>
										<td>@order.UserName</td>
										<td>
											@if (order.Status == 0)
											{
												<div class="text-secondary">
													<span>Pending</span>
												</div>
											}
											else if (order.Status == 1)
											{
												<div class="text-success">
													<span>Approved</span>
												</div>
											}
											else
											{
												<div class="text-danger">
													<span>Cancelled</span>
												</div>
											}
										</td>
										<td>@order.Date.ToString("dd-MM-yyyy")</td>
										<td>
											<form method="post" action="/admin/UpdateOrder">
												<input type="hidden" name="Id" value="@order.Id" />
												<input type="hidden" name="Status" value="1" />
												@if (order.Status >= 1)
												{
													<button class="btn btn-info" disabled>Approve</button>
												} else
												{
													<button class="btn btn-info" type="submit">Approve</button>
												}
											</form>

											<form method="post" action="/admin/UpdateOrder">
												<input type="hidden" name="Id" value="@order.Id" />
												<input type="hidden" name="Status" value="2" />
												@if (order.Status == 1)
												{
													<button class="btn btn-danger" type="submit">Disapprove</button>
												}
												else
												{
													<button class="btn btn-danger" disabled>Disapprove</button>
												}
											</form>
										</td>
									</tr>
								}
							</tbody>
						</table>

					</div> <!-- end card body-->
				</div> <!-- end card -->
			</div><!-- end col-->
		</div>
		<!-- end row-->
	</div>
</div>
<!-- /Main Wrapper -->
@section AddToAdminDashboardFooter{
	<!-- Datatables JS -->
	<script src="~/admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/dataTables.responsive.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/responsive.bootstrap4.min.js"></script>

	<script src="~/admin/assets/plugins/datatables/dataTables.select.min.js"></script>

	<script src="~/admin/assets/plugins/datatables/dataTables.buttons.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/buttons.html5.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/buttons.flash.min.js"></script>
	<script src="~/admin/assets/plugins/datatables/buttons.print.min.js"></script>
}